<!DOCTYPE html>
<html>
  <head>
<<<<<<< HEAD
    <title>UnsplashConsumer</title>
=======
    <title>ProjectTemplate</title>
>>>>>>> 693c7356ef4e662d4d96a913bdc615237fb6f6af
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
